// ------------------------------------------------ //
//	Variables
// ------------------------------------------------ //



// main colors
$primary-accent-color: #cf5037;
$secondary-accent-color: #2067CA;

$base-font-color-dark: #3c3c3c;
$base-font-color-light: #fff;
$base-heading-font-color: #bc341b;
$base-subheading-font-color: #333;
$base-button-font-color: #fff;
$base-icon-color: #aea08b;

$main-nav-font-color: #fff;
$hero-font-color: #fff;

$about-me-bg-color: #ffe9c8;
$resume-bg-color: #f4debe;
$projects-bg-color: #000000;
$contacts-bg-color: #eed9b8;

// fonts
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$secondary-font-family-bold: "Josefin Slab Bold";
$secondary-font-family-light: "Josefin Slab Light";

// form
$base-field-bg-color: #f2f2f2;
$base-field-font-color: #a18f72;

// header
$hero-img-background: "hero-bg.png";

// timeline
$bg-line-url: 'vertical-line.png'; // the vertical line of the timeline

// google map
$map-height: 400px;