<!-- header -->
  <header class="jumbotron header" id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 left">
          <div class="avatar">
            <img id="photo" src="" class="img-responsive" alt="Profile Picture">
          </div>
        </div>
        <div class="col-md-6 right">
          <h1 class="hide"></h1>
          <h2 class="heading" id="location"></h2>
          <p id="description"></p>
          <%= button_to 'もう一回', nil,  {class: 'btn btn-primary btn-lg', id: 'refresh', method: :get} %>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->

