<!-- header -->
  <header class="jumbotron header" id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 left">
          <div class="avatar">
            <%= image_tag 'profile-picture.png', class: 'img-responsive', alt: 'Profile Picture' %>
          </div>
        </div>
        <div class="col-md-6 right">
          <h1 class="hide">BOB SMITH</h1>
          <h2 class="heading">HELLO, I'M BOB</h2>
          <p>A web designer from New York. Want to know more about me?</p>
          <a href="#about-me" class="btn btn-default btn-lg">READ MORE</a><a href="#" class="btn btn-primary btn-lg">DOWNLOAD vCARD</a>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->


  <!-- contacts -->
  <section class="section contacts" id="contacts">
    <div class="container">
      <h2 class="heading">CONTACTS</h2>
      <p>Continually promote world-class methodologies through equity invested results. Monotonectally target stand-alone ideas via cross-media collaboration and idea-sharing. Seamlessly grow innovative markets.</p>
      <div class="row google-map">
        <div class="map-canvas"></div>
      </div>
     </div>
    </div>  
  </section>
  <!-- end contacts -->
